$white: #ffffff;
$white-light:  #e5e5e5;
$grey: #797b86;
$grey-light: #f6f8fa;
$grey-light1: #aeb0b6;
$grey-dark: #90a2b5;
$grey-dark2: #90A2B5;
$black: #1f2432;
$black-light: #2c3242;
$primary: #0069b4;
$red: red
