@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-Medium.woff2')  format('wof2'),
	url('@/assets/fonts/Roboto/Roboto-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-Bold.woff2')  format('wof2'),
	url('@/assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('@/assets/fonts/Lato/Lato-Regular.woff2')  format('wof2'),
	url('@/assets/fonts/Lato/Lato-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('@/assets/fonts/Lato/Lato-Medium.woff2')  format('wof2'),
	url('@/assets/fonts/Lato/Lato-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Lato';
  src: url('@/assets/fonts/Lato/Lato-Semibold.woff2')  format('wof2'),
	url('@/assets/fonts/Lato/Lato-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('@/assets/fonts/Lato/Lato-Bold.woff2')  format('wof2'),
	url('@/assets/fonts/Lato/Lato-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}